.app__main {
	padding-top: 69px;
}
.container {
	justify-content: space-around;
	display: flex;
	align-items: center;
}

.header__title {
	font-size: 85px;
	line-height: 120%; /* 102px */
	letter-spacing: 5.525px;
}

.header__text {
	margin-top: 47px;
	font-size: 20px;
	line-height: 120%; /* 0px */
	letter-spacing: 0.5px;
}

.header__btn {
	margin-top: 69px;
	width: 260px;
	height: 71px;
	border-radius: 5px;
	border: 1px solid #000;
	background: linear-gradient(98deg, #45B11E 1.35%, rgba(109, 229, 106, 0.50) 76.53%);
		font-size: 25px;
		letter-spacing: 0.625px;
		cursor: pointer;
		font-family: 'Minecraft';
}